.c-card__container{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.12);
}

.c-card__image{
    width: 100%;
    padding-top: 66.666%;
    background-position: center;
    background-size: cover;
}

.c-card__text{
    padding: 0 16px;
    height: 40%;
}