.p-comedian__card-container{
    width: 33.3333%;
    padding: 0 8px;
}

.p-comedian__card{
    padding: 0 0 16px 0;
}

.p-comedian__text{
    padding: 0 12px;
}


.p-comedian__title{
    margin-bottom: 0px;
}

.p-comedian__date{
    font-size: 1.2rem;
    margin-top: 0.4em 0;
    color: rgba(0, 0, 0,0.54);
}