$innerWidth: 1120px;

.p-index__key{
    margin-bottom: 80px;
    display: flex;
}

.p-index__container{
    width: $innerWidth;
    margin: 0 auto;
    display: flex;
}

.p-index__main{
    margin-right: 24px;
    width: 70%;
}

.p-index__title{
    border-bottom: solid 1px #ff0000;
}

.p-index__post-wrapper{
    margin-bottom: 64px;
}

.p-index__comedian-container{
    margin: 0 -16px;
    display: flex;
}

.p-index__sidebar{
    width: 30%;
}