.l-header{
    display: flex;
    justify-content: space-between;
    background-color: #b1b1b1;
    font-size: 1.4rem;
    align-items: center;
    text-decoration: none;
}

.l-header__image{
    margin-left: 32px;
    font-size: 24px;
    font-weight: 600;
}

.l-header__container{
    display: flex;
}

.menu-item{

    a{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 120px;
    }
    
    a:link{
        color: #272727;
    }
    
    a:visited{
        color: #8f5858;
    }
}


